# Created by .ignore support plugin (hsz.mobi)
/bitrix
upload
home
/.htaccess
/.htpasswd
/cgi-bin/
/log.txt
.idea
*.pdf
/test/
/bitrix/web.config
/bitrix/themes/
/bitrix/header.php
/bitrix/urlrewrite.php
/bitrix/index.php
/bitrix/updates/
/bitrix/virtual_file_system.php
/bitrix/wizards/
/bitrix/.settings.php
/bitrix/rss.php
/bitrix/spread.php
/bitrix/site_checker_7c18f553ec2b473199297fbb1f65f917.log
/bitrix/license_key.php
/bitrix/tmp/
/bitrix/tools/
/bitrix/p3p.xml
/bitrix/coupon_activation.php
/bitrix/.access.php
/bitrix/footer.php
/bitrix/fonts/
/bitrix/js/
/bitrix/php_interface/
/bitrix/panel/
/bitrix/managed_cache/
/bitrix/modules/
/bitrix/gadgets/
/bitrix/image_uploader/
/bitrix/images/
/bitrix/cache/
/bitrix/css/
/bitrix/sounds/
/bitrix/components/
/bitrix/admin/
/bitrix/backup/
/bitrix/
