# Created by .ignore support plugin (hsz.mobi)
/bitrix
upload
home
/.htaccess
/.htpasswd
/cgi-bin/
/log.txt
.idea
*.pdf
*.txt
*.tar.gz
*.zip
/test/custom_import/
/bitrix/
/local/templates/mamka/
!/bitrix/modules/sale/lib/basketbase.php
!/bitrix/components/bitrix/sale.order.ajax/class.php
