#header #mid-header #mid-nav-block #main-nav #mobile-connect-button {
        width: 200px;
        font-size: 18px;
        line-height: 35px;
        height: 35px
    }
    #header #mid-header #mid-nav-block #main-nav ul li {
        line-height: 42px;
        margin: 0
    }
    #header #mid-header #mid-nav-block #main-nav ul li#oplata,
    #header #mid-header #mid-nav-block #main-nav ul li#garantii,
    #header #mid-header #mid-nav-block #main-nav ul li#news,
    #header #mid-header #mid-nav-block #main-nav ul li#articles,
    #header #mid-header #mid-nav-block #main-nav ul li#contacts{
        display: none;
    }
@media screen and (max-width:1023px) {
    #header #mid-header #mid-nav-block #main-nav {
        background-color: #fff;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 2;
        height: 100%;
        width: 100%;
        display: table;
        text-align: center;
        opacity: 0;
        transition: all 500ms cubic-bezier(.68, -.55, .265, 1.55);
        transform: scale(0);
        overflow: auto;
        line-height: normal;
    }
    #header #mid-header #mid-nav-block #main-nav #mobile-connect-button {
        display: block;
        border: none;
        background: #3f4e74;
        color: #fff;
        text-align: center;
        margin: 10px auto;
        font-weight: 500;
        border-radius: 3px;
        line-height: 50px;
        height: auto;
        font-size: 27px;
        width: 90%;
    }
    #header #mid-header #mid-nav-block #main-nav.active {
        opacity: 1;
        transform: scale(1);
    }
    #header #mid-header #mid-nav-block #main-nav.active ul li {
        opacity: 1 !important;
        transition: all 400ms 510ms;
        font-size: 16px;
    }
    #header #mid-header #mid-nav-block #main-nav ul li#oplata,
    #header #mid-header #mid-nav-block #main-nav ul li#garantii,
    #header #mid-header #mid-nav-block #main-nav ul li#news,
    #header #mid-header #mid-nav-block #main-nav ul li#articles,
    #header #mid-header #mid-nav-block #main-nav ul li#contacts{
        display: block;
    }
    #header #mid-header #mid-nav-block #main-nav ul {
        padding-top: 20px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
    #header #mid-header #mid-nav-block #main-nav ul li {
        display: block;
        transition: none;
        font-weight: 500;
        font-size: 26px;
        margin: 0 0 20px;
    }
    #header #mid-header #mid-nav-block #main-nav ul li a {
        margin: 0
    }
    #header #mid-header #mid-nav-block #main-nav ul li:nth-child(odd) {
        opacity: 0;
    }
    #header #mid-header #mid-nav-block #main-nav ul li:nth-child(even) {
        opacity: 0;
    }
    #header #mid-header #mid-nav-block #search-button {
        margin: 0 20px;
        width: 50px;
        height: 50px
    }
}
@media screen and (max-width:480px) {
    #header #mid-header #mid-nav-block #main-nav ul li,
    #header #mid-header #mid-nav-block #main-nav #mobile-connect-button{
        line-height: 30px;
        font-size: 18px;
    }
    #header #mid-header #mid-nav-block #main-nav #mobile-connect-button{
        padding: 5px 0;
    }
}
