.news_list_main_grid .flex
{
    justify-content: center;
}
.action-card
{
    margin: 0 0 30px 30px;
    float: left;
    display: block;
    position: relative;
    overflow: hidden;
    padding-bottom: calc((100% - 30px) / 4 - 30px);
}
.action-card.small 
{
    width: calc((100% - 30px) / 3 - 30px);    
}
.action-card.big {
    width: calc((100% - 30px) / 2 - 30px); 
}
.action-card .action-more 
{
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    width: 120px;
    text-align: center;
    color: #fff;
    margin: auto;
    background: #e01d7b;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    font-weight: 500;
    z-index: 2;
    opacity: 0;
    transition: all .2s ease-in
}
.action-card .action-title {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 100%;
    padding: 0 20px;
    text-align: center;
    color: #00104b;
    margin: auto;
    height: 60px;
    line-height: 30px;
    font-size: 24px;
    font-weight: 500;
    z-index: 2;
    opacity: 0;
    transition: all .2s ease-in
}
.action-card img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    margin: auto;
    min-width: 100%;
    min-height: 100%;
    display: block;
    transition: all .2s ease-in;
    object-fit: contain;
}
.action-card:after {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    position: absolute;
    background: rgba(255, 255, 255, 0.6);
    transition: all .2s ease-in;
    z-index: 1
}
.action-card:hover img {
    left: -5%;
    top: -5%;
    min-width: 110%;
    min-height: 110%
}
.action-card:hover:after {
    opacity: 1
}
.action-card:hover .action-more {
    opacity: 1;
    transform: translateY(-90px)
}
.action-card:hover .action-title {
    opacity: 1;
    transform: translateY(150px)
}
@media screen and (max-width:1230px) {
    .action-card
    {
        margin: 0 0 20px 20px;
        padding-bottom: calc((100% - 20px) / 4 - 20px);
    }
    .action-card.small {
        width: calc((100% - 20px) / 4 - 20px);
    }
    .action-card.big {
        width: calc((100% - 20px) / 2 - 20px);
    }
    .action-card .action-more {
        display: none
    }
    .action-card .action-title {
        display: none
    }
    .action-card:after {
        display: none
    }
    .action-card:hover img {
        left: 0;
        top: 0;
        min-width: 100%;
        min-height: 100%
    }
}
@media screen and (max-width:1023px) {
    .action-card {
        margin: 0 0 20px 20px;
        padding-bottom: calc((100% - 20px) / 2 - 20px)
    }
    .action-card.small
    {
        width: calc((100% - 20px) / 2 - 20px);
    }
    .action-card.big 
    {
        width: calc((100% - 20px) - 20px);
    }
}
@media screen and (max-width: 767px) {
    .action-card 
    {
        margin: 0;
        padding-bottom: 0;
    }
    .action-card.small,
    .action-card.big
    {
        width: 100%;
    }
    .action-card .action-title
    {
        display: block;
        bottom: 0;
        opacity: 1;
        height: auto;
        padding: 20px;
        background-color: rgba(52, 77, 118, 0.9);
        color: #fff;
        font-family: "FuturaRoundBold", "Roboto", sans-serif;
        font-size: 32px;
    }
    .action-card img
    {
        position: relative;
    }
}