.registration-right div.error{
    color:red;
}


#registration {
    max-width: 770px;
    position: fixed;
    left: 0;
    top: 100px;
    max-height: calc(100vh - 200px);
    overflow-y: auto;
    right: 0;
    margin: auto;
    background: #fff;
    color: #00104b;
    box-shadow: 0 12px 23px rgba(28, 22, 11, 0.33);
    z-index: 6;
    display: none;
}

#registration .registration-left {
    float: left;
    width: calc(100% / 8 * 4.5);
    text-align: right;
}

#registration .registration-left a {
    display: block;
    width: 140px;
    line-height: 29px;
    font-size: 11px;
    font-weight: 500;
    color: #fff;
    margin: 0 0 5px;
    border-radius: 2px;
    float: right;
    clear: both;
    padding: 0 10px;
    position: relative;
}

#registration .registration-left a:before {
    width: 1px;
    height: 29px;
    background: #1a1a1a;
    opacity: .1;
    margin: 0;
    display: block;
    content: "";
    left: 30px;
    top: 0;
    position: absolute
}

#registration .registration-left a.google {
    background: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20fill%3D%22%23FFF%22%20viewBox%3D%220%200%20491.9%20491.9%22%3E%3Cpath%20d%3D%22M377.5%20225H201.3v58.7h107.5c-16%2051-63.7%2088-120%2088-69.6%200-126-56.3-126-125.8%200-69.7%2056.4-126%20126-126%2035%200%2066.6%2014.3%2089.4%2037.4l42.6-46.4c-34-33.2-80.6-53.8-132-53.8C84.4%2057.2%200%20141.7%200%20246s84.5%20188.7%20188.7%20188.7c91.3%200%20171.3-65%20188.8-151V225zm114.5%200h-36.2v-36.2h-31v36h-36v31h36v36h31v-36h36%22/%3E%3C/svg%3E") 7px center no-repeat, #fd4934;
    background-size: 20px 20px
}

#registration .registration-left a.vk {
    background: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20fill%3D%22%23FFF%22%20viewBox%3D%220%200%20304.4%20304.4%22%3E%3Cpath%20d%3D%22M262%20175.6c10%209.8%2020.7%2019%2029.8%2030%204%204.8%207.7%209.8%2010.6%2015.4%204%208%20.4%2016.7-6.7%2017h-44.3c-11.5%201-20.6-3.5-28.3-11.4-6-6.2-11.5-13-17.4-19.3-2.4-2.7-5-5.2-8-7-6-4-11.3-2.8-14.8%203.5-3.5%206.4-4.3%2013.5-4.6%2020.7-.4%2010.4-3.6%2013-14%2013.6-22.5%201.4-43.7-2-63.5-13.3-17.4-10-31-24-42.7-40-23-31-40.4-65-56.2-100C-2%2076.4.6%2072%209.3%2072c14.5-.2%2029-.2%2043.4%200%206%200%209.8%203.5%2012%209%208%2019.3%2017.4%2037.6%2029.5%2054.6%203.2%204.5%206.4%209%2011%2012.2%205.2%203.5%209%202.4%2011.6-3.4%201.5-3.6%202.2-7.5%202.5-11.4%201.2-13.4%201.3-26.8-.7-40-1.2-8.4-6-13.8-14.2-15.4-4.3-.8-3.6-2.4-1.6-4.8%203.6-4%207-6.7%2013.6-6.7h50c8%201.8%209.8%205.4%2010.8%2013v56c0%203%201.6%2012.3%207.2%2014.3%204.4%201.4%207.3-2%2010-5%2012-12.7%2020.5-27.7%2028.2-43.3%203.4-7%206.3-14%209-21%202.2-5.4%205.5-8%2011.4-8h48.3c1.4%200%203%200%204.2.3%208.2%201.4%2010.4%205%208%2012.8-4%2012.6-11.8%2023-19.3%2033.4-8%2011.2-16.6%2022-24.6%2033-7.3%2010.3-6.8%2015.5%202.3%2024.4zm0%200%22%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22/%3E%3C/svg%3E") 6px center no-repeat, #4c75a3;
    background-size: 20px 20px
}

#registration .registration-left a.ok {
    background: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20fill%3D%22%23FFF%22%20viewBox%3D%220%200%2095.5%2095.5%22%3E%3Cpath%20d%3D%22M43%2067.3c-7.4-.8-14-2.6-19.7-7-.8-.7-1.5-1.2-2-1.8-2.6-2.4-3-5.2-1-8%201.8-2.4%204.6-3%207.6-1.7l1%201c11%207.2%2025.5%207.5%2036%20.2%201-.3%202.3-1%203.6-1.3%202.4-.7%205%20.3%206.2%202.5%201.5%202.6%201.4%205-.5%207-3%203-6.6%205.3-10.6%206.8-3.8%201.4-8%202.2-12%202.6L53%2069l17%2016.3c2%202%202.4%204.2%201.4%206.4-1%202.4-3.7%204-6%203.8-1.7%200-3-1-4-2-4-4-8.4-8.2-12.4-12.5-1.2-1.3-1.8-1-2.8%200L33.7%2093.7c-2%202-4.2%202.3-6.4%201.2-2.4-1.8-4-4-3.8-6%200-2%201-3%202-4l16.3-17%201.2-1z%22/%3E%3Cpath%20d%3D%22M47.5%2048.3c-13.2%200-24-11-24-24.2.2-13%2011-24%2024.3-24%2013.4%200%2024%2011%2024%2025%200%2013-11%2024-24.3%2023.8zm12-24.2c0-6-5.2-11.2-11.8-11.2C41%2012.8%2036%2018%2036%2024.8c0%206%205%2011.2%2011.5%2011.2s11.8-5.3%2011.8-12z%22/%3E%3C/svg%3E") 7px center no-repeat, #fe7f2b;
    background-size: 20px 20px
}

#registration .registration-right {
    height: 100%;
    float: right;
    width: calc(100% / 8 * 3.5 - 92px);
    padding: 0 45px 45px 0;
}

#registration .registration-header {
    font-size: 23px;
    font-weight: 500;
    margin: 45px 0 10px;
    color: #00104b;
    float: right;
}

#registration input {
    margin: 0 0 10px;
    border: 1px solid #cfdcfe;
    line-height: 37px;
    height: 37px;
    padding: 0 15px;
    width: 203px;
    display: block;
}

#registration input[type="submit"] {
    border: none;
    background: #d5afc3;
    width: 235px;
    padding: 0;
    line-height: 39px;
    height: 39px;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    transition: all .2s ease-in;
}

#registration input[type="submit"]:hover {
    background: #e01d7b
}

#registration .checkbox-ui {
    margin: 10px 0;
}

#registration .checkbox-ui div,
#registration .checkbox-ui .d-block
{
    font-size: 12px;
}

#registration .checkbox-ui div.checkbox-item,
#registration .checkbox-ui .d-block.checkbox-item
{
    margin: 0 10px 0 0
}

#registration .checkbox-ui input {
    display: none
}

#registration .registration-to-login {
    font-size: 12px;
    font-weight: 300;
}

#registration .registration-to-login button {
    border: none;
    background: transparent;
    font-weight: 500;
    text-decoration: underline
}

#registration .close-modal {
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 15px;
    height: 15px;
    background: url("images/close-popup.png") no-repeat center center, transparent;
    border: none;
}

#registration .close-modal:hover {
    background: url("images/close-popup-pink.png") no-repeat center center, transparent
}

@media screen and (max-width:767px) {
	#registration {
        overflow: auto;
        width: auto;
        height: 100vh;
        overflow-y: auto;
        top: 0;
        max-height: 100vh;
    }
    #registration .registration-right {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: auto;
        height: 400px
    }
    #registration .registration-left {
        display: none;
    }
    #registration .checkbox-ui {
        width: 230px;
        margin: 0 auto;
        display: block
    }
    #registration .registration-header {
        width: 100%;
        margin: 45px auto 10px;
        width: calc(100% - 20px);
        margin-left: 20px;
    }
    #registration input {
        margin: 0 auto 10px;
        width: 198px;
    }
    #registration .captcha {
        margin: 10px 23px;
    }
    #registration input[type="submit"] {
        margin: 20px auto;
        width: 230px
    }
    #registration .registration-to-login {
        margin: 10px auto 30px;
        width: 230px
    }
}